#stipat {
  background-image: url('../bg.png');
  background-repeat: repeat;
  background-color: #EEEEEE;
  position: fixed;
  left: 0;
  top: 0;
}

#controls {
  position: relative;
  z-index: 1;
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
}

.control {
  float: left;
  padding: 6px;
  margin: 5px;
  -moz-border-radius:10px;
  -khtml-border-radius:10px;
  -webkit-border-radius: 10px;
  border-radius:10px;
  box-shadow: 2px 2px 5px #666;
}

.button {
  cursor: pointer;
  background-color: #DDDDDD;
  border: 1px solid #FFF;
}

.button:hover {
  background-color: #EEE;
}

#sizeSlider {
  background-color: #fff;
}

.slider {
  width: 147px;
  height: 4px;
  margin-top: 10px;
  background-color: #876880;
}

.sliderBall {
  width: 12px;
  height: 12px;
  -moz-border-radius:5px;
  -khtml-border-radius:5px;
  -webkit-border-radius: 5px;
  border-radius:5px;
  background-color: #000;
  margin: -8px 0 5px 0;
}